services:
  api:
    build:
      context: backend
      dockerfile: Dockerfile
      target: local
    restart: always
    ports:
      - "3000:3000"
    volumes:
      - type: bind
        source: ./backend
        target: /backend
    depends_on:
      - db

  db:
    build:
      context: db
      dockerfile: Dockerfile
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - ./db/init:/docker-entrypoint-initdb.d
    environment:
      - POSTGRES_PASSWORD=example
